@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'VT323', monospace;
}

.bgDirtImg {
  background-image: url("./assets/img/bg/dirt.png");
}

.bgWoodImg {
  background-image: url("./assets/img/bg/wood.jpg");
}

.bgStoneImg {
  background-image: url("./assets/img/bg/marble.jpg");
  background-size: 150px;

}

.triangle {
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom: 0;
  border-top: 25px solid white;
}

#scrollBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scrollBar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scrollBar::-webkit-scrollbar-thumb
{
  background-color: #000000;
	border: 2px solid #555555;
  
}

.loadingAnimation {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loadingAnimation div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: loadingAnimation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loadingAnimation div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loadingAnimation div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loadingAnimation div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loadingAnimation {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}